# Ignore files with extension `.class` & `.exe`
*.class
*.exe

# Ignore files in .vscode folder
.vscode/

# Ignore my private files
Private/

# Ignore my unpublished files

# Ignore my python files: just for delete all .exe files in this folder
*.py

# Delete all .exe files in this folder
# rm ./*/*.exe