# Ignore files with extension `.class` & `.exe`
*.class
*.exe

# Ignore files in .vscode folder
.vscode/

# Ignore my private files
.private/

# Ignore my unpublished files
DS6 - Heap/

# Ignore my python files: just for delete all .exe files in this folder
*.py

# Delete all .exe files in this folder
# rm ./*/*.exe